<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"gratia-gratis/home-hero"} /-->
	<!-- wp:pattern {"slug":"gratia-gratis/mission-tell"} /-->
	<!-- wp:pattern {"slug":"gratia-gratis/ministry-gallery"} /-->
	<!-- wp:pattern {"slug":"gratia-gratis/books-preview"} /-->
	<!-- wp:pattern {"slug":"gratia-gratis/journal-query"} /-->
	<!-- wp:pattern {"slug":"gratia-gratis/donation"} /-->
</main>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"gratia-gratis/newsletter"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
