<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"gratia-gratis/page-hero"} /-->
	<!-- wp:group {"align":"full","className":"gg-page-feature","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","right":"var:preset|spacing|40","bottom":"0","left":"var:preset|spacing|40"}}},"backgroundColor":"parchment","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull gg-page-feature has-parchment-background-color has-background" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--40);padding-bottom:0;padding-left:var(--wp--preset--spacing--40)"><!-- wp:post-featured-image {"align":"wide","className":"gg-rounded"} /--></div>
	<!-- /wp:group -->
	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","right":"var:preset|spacing|40","bottom":"var:preset|spacing|60","left":"var:preset|spacing|40"}}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull has-white-background-color has-background" style="padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--40)"><!-- wp:post-content {"layout":{"type":"constrained"}} /--></div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"newsletter","tagName":"section"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

